@mixin background($overlay, $url) {
  background: linear-gradient(0deg, rgba($overlay, 0.86), rgba($overlay, 0.86)), url($url);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
