@mixin button-variant(
  $color,
  $bg,
  $border,
  $hover-bg: darken($bg, 10%),
  $hover-border: darken($border, 10%),
  $focus-bg: darken($bg, 10%),
  $focus-border: darken($bg, 10%)
) {
  color: $color;
  background-color: $bg;
  border-color: $border;

  &:hover {
    outline: none;
    background-color: $hover-bg;
    border-color: $hover-border;
  }

  &:focus {
    outline: none;
    background-color: $focus-bg;
    border-color: $focus-border;
  }

  &:active {
    color: rgba($color, 0.3);
  }
}
