.actions {
  position: relative;
  padding-top: 20px;
  padding-bottom: 50px;
  counter-reset: action;

  &::before {
    position: absolute;
    border-top: 1px solid $border-color;
    bottom: 0;
    right: -9999px;
    left: -9999px;
  }

  @include tablet {
    padding-top: 45px;
    padding-bottom: 64px;

    &::before {
      content: "";
    }
  }

  @include desktop {
    padding-top: 71px;
    padding-bottom: 69px;

    &::before {
      content: none;
    }
  }
}

.actions__title {
  margin-bottom: 40px;

  @include tablet {
    margin-bottom: 32px;
  }
}

.actions__list {
  @include reset-list();
  display: grid;
  row-gap: 20px;

  @include tablet {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 60px;
    row-gap: 54px;
  }

  @include desktop {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 80px;
  }
}

.actions__item {
  position: relative;
  display: flex;

  &:nth-of-type(1)::before {
    @include tablet {
      right: 100px;
    }

    @include desktop {
      right: 20px;
    }
  }

  &:nth-of-type(2)::before {
    @include tablet {
      right: 80px;
    }

    @include desktop {
      right: 0;
    }
  }

  &:nth-of-type(3)::before {
    @include tablet {
      right: 80px;
    }

    @include desktop {
      right: 0;
    }
  }

  &:nth-of-type(4)::before {
    @include tablet {
      right: 75px;
    }

    @include desktop {
      right: 0;
    }
  }

  &::before {
    @include heading(280px);
    color: $gray;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    counter-increment: action;

    @include tablet {
      content: counter(action);
    }
  }

  @include tablet {
    flex-wrap: wrap;
    padding: 40px 0;
  }

  @include desktop {
    padding-bottom: 57px;
  }
}

.actions__item:nth-of-type(4) br {
  display: none;

  @include tablet {
    display: block;
  }
}

.actions__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $primary;
  margin-right: 20px;
  flex: 0 0 60px;
  width: 60px;
  height: 60px;

  @include tablet {
    flex: 0 0 80px;
    width: 80px;
    height: 80px;
  }
}

.actions__icon--tub svg {
  transform: translateY(-2px);
}

.actions__icon--eat svg {
  transform: translateX(1px);
}

.actions__description {
  @include regular(14px, 18px);
  margin: 2px 0 0 0;
  flex: 1 1 auto;

  @include tablet {
    padding-right: 60px;
    font-size: 16px;
    line-height: 24px;
    margin-top: 31px;
    flex-basis: 100%;
  }

  @include desktop {
    padding-right: 0;
  }
}
