.actions {
  padding-top: 20px;
  padding-bottom: 50px;

  @include desktop {
    padding: 60px 0;
  }
}

.actions__title {
  margin-bottom: 40px;
}

.actions__list {
  @include reset-list();
  display: grid;
  row-gap: 15px;

  @include tablet {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 150px;
  }

  @include desktop {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 80px;
  }
}

.actions__item {
  display: flex;

  @include tablet {
    padding: 40px 0;
  }
}

.actions__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $primary;
  flex: 0 0 60px;
  margin-right: 20px;
  width: 60px;
  height: 60px;
}

.actions__description {
  @include regular();
  margin: 0;
  flex: 1 1 auto;
}
