.button {
  @include heading(14px, 1);
  display: block;
  padding: 13px 26px;
  border: 1px solid transparent;
  text-transform: uppercase;
  text-align: center;
  transition: background-color .2s ease, border-color .2s ease;

  &--primary {
    color: $white;
    background-color: $primary;
    border-color: $primary;
    &:hover {
      $color: darken($primary, 10%);
      background-color: $color;
      border-color: $color;
    }
  }
}
