.card {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding-top: 19px;
  padding-bottom: 24px;

  &::before {
    top: 0;
    position: absolute;
    z-index: -1;
    left: -20px;
    right: -20px;
    border-top: 1px solid $border-color;
  }

  &::before {
    content: "";

    @include tablet {
      top: 81px;
      left: 0;
      right: 0;
      bottom: 0;
      border-top: none;
      background-color: $bg-color;
    }

    @include desktop {
      top: 83px;
    }
  }

  &:last-of-type::before {
    @include tablet {
      content: none;
    }
  }

  &::after {
    bottom: 0;
  }
}

.card--show-more {
  padding: 25px 0;

  &::after {
    content: "";
    bottom: 1px;
    position: absolute;
    z-index: -1;
    left: -20px;
    right: -20px;
    border-top: 1px solid $border-color;

    @include tablet {
      content: none;
    }
  }

  .card__inner {
    align-items: center;

    @include tablet {
      margin-bottom: 0;
      flex-basis: auto;
    }
  }

  .card__button {
    @include tablet {
      flex-grow: 0;
      flex-basis: auto;
    }
  }

  .card__icon {
    width: 30px;
    height: 30px;
    margin-bottom: 23px;

    @include tablet {
      width: 60px;
      height: 60px;
      margin-bottom: 50px;
    }
  }

  .card__title {
    margin-bottom: 10px;

    br {
      display: none;

      @include tablet {
        display: block;
      }
    }

    @include tablet {
      line-height: 20px;
      width: 60%;
      margin-bottom: 27px;
    }

    @include tablet {
      width: 80%;
    }
  }

  .card__description {
    @include tablet {
    }
  }

  @include tablet {
    margin-top: 83px;
    padding: 52px 37px 38px 38px;
    border: 1px solid $border-color;
    flex-direction: column;
  }
}

.card--product {
  .card__title {
    width: 60%;

    @include tablet {
      width: 80%;
      align-self: center;
    }

    @include desktop {
      margin-bottom: 20px;
    }
  }

  @include tablet {
    padding: 8px 40px 39px 40px;
  }

  @include desktop {
    padding: 3px 35px 40px 39px;
  }
}

.card__inner {
  display: flex;
  flex-direction: column;
  flex: 1 0 50%;
  /* margin-bottom: 15px; */

  @include tablet {
    flex-basis: 100%;
  }
}

.card__button {
  flex: 0 0 auto;
}

.card__title {
  @include heading($fz: 16px, $lh: 1.25);
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 17px;

  br {
    display: none;

    @include desktop {
      display: block;
    }
  }

  @include tablet {
    text-align: center;
    font-size: 20px;
  }

  @include desktop {
    line-height: 21px;
  }
}

.card__properties {
  @include tablet {
    margin-bottom: 32px;
  }
}

.card__properties-row {
  @include regular($fz: 12px);
  display: flex;

  @include tablet {
    padding-top: 5px;
    padding-bottom: 9px;
    font-size: 16px;
    line-height: 1;
    border-bottom: 1px solid $border-color;
  }
}

.card__properties-label {
  flex: 0 0 50%;
}

.card__properties-value {
  text-align: right;
  flex: 0 0 50%;
}

.card__img {
  display: flex;
  justify-content: center;
  flex: 1 0 50%;
  margin-bottom: 10px;

  @include tablet {
    margin-bottom: 28px;
  }

  @include desktop {
    margin-bottom: 40px;
  }
}

.card__description {
  @include regular(12px, 16px);
  margin: 0 0 21px;

  br {
    display: none;

    @include tablet {
      display: block;
    }
  }

  @include tablet {
    font-size: 16px;
    text-align: center;
  }
}
