.card {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding: 20px 0;
}

.card--show-more {
  .card__inner {
    align-items: center;

    @include tablet {
      margin-bottom: 0;
      flex-basis: auto;
    }
  }

  .card__button {
    @include tablet {
      flex-grow: 0;
      flex-basis: auto;
    }
  }

  .card__icon {
    width: 30px;
    height: 30px;
    margin-bottom: 20px;

    @include tablet {
      width: 60px;
      height: 60px;
      margin-bottom: 50px;
    }
  }

  .card__title {
    margin-bottom: 10px;
  }

  @include tablet {
    padding: 40px;
    border: 1px solid $border-color;
    flex-direction: column;
  }
}

.card--product {
  &::before,
  &::after {
    position: absolute;
    z-index: -1;
    left: -20px;
    right: -20px;
    border-top: 1px solid $border-color;
  }

  &::before {
    content: "";
    top: 0;

    @include tablet {
      content: "";
      top: 15%;
      left: 0;
      right: 0;
      bottom: 0;
      border-top: none;
      background-color: $bg-color;
    }
  }

  &::after {
    bottom: 0;
  }

  .card__img {
    padding: 10px 30px;
    flex: 1 0 50%;
    margin-bottom: 15px;

    img {
      width: 100%;
      height: auto;
    }

    @include tablet {
      padding: 0 30px;
    }

    @include desktop {
      padding: 0;
    }
  }

  &:last-of-type::after {
    content: "";

    @include tablet {
      content: none;
    }
  }

  @include tablet {
    padding: 0 40px 40px 40px;
  }
}

.card__inner {
  display: flex;
  flex-direction: column;
  flex: 1 0 50%;
  margin-bottom: 15px;

  @include tablet {
    flex-basis: 100%;
  }
}

.card__button {
  flex: 0 0 auto;
}

.card__title {
  @include heading($fz: 16px, $lh: 1.25, $fw: 400);
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 20px;

  @include tablet {
    text-align: center;
    font-size: 20px;
  }
}

.card__properties-row {
  @include regular($fz: 12px);
  display: flex;

  @include tablet {
    font-size: 16px;
    line-height: 2;
    border-bottom: 1px solid $border-color;
  }
}

.card__properties-label {
  flex: 0 0 50%;
}

.card__properties-value {
  text-align: right;
  flex: 0 0 50%;
}

.card__description {
  @include regular($fz: 12px);
  margin: 0;

  @include tablet {
    font-size: 16px;
    text-align: center;
  }
}
