.catalog {
  padding-top: 26px;

  @include tablet {
    padding-top: 40px;
    padding-bottom: 70px;
  }

  @include desktop {
    padding-top: 0;
    padding-bottom: 80px;
  }
}

.catalog__cards {
  display: grid;

  @include tablet {
    column-gap: 60px;
    row-gap: 60px;
    grid-template-columns: repeat(2, 1fr);
  }

  @include desktop {
    column-gap: 80px;
    row-gap: 80px;
    grid-template-columns: repeat(4, 1fr);
  }
}

.catalog__title {
  margin-bottom: 37px;

  @include tablet {
    margin-bottom: 80px;
  }
}

.catalog__list {
  padding-top: 25px;
  padding-bottom: 35px;

  @include tablet {
    padding-top: 70px;
  }
}

.catalog__list-title {
  margin-bottom: 34px;
}

.catalog__list-items {
  @include tablet {
    border: 1px solid $border-color;
  }

  @include desktop {
    margin-right: 80px;
    border-right: none;
    border-left: none;
  }
}

.catalog__list-inner {
  display: grid;
  row-gap: 33px;

  @include desktop {
    grid-template-columns: 1fr 20%;
  }
}
