.comparison {
  position: relative;
  padding-top: 24px;
  padding-bottom: 34px;

  @include tablet {
    padding-top: 43px;
    padding-bottom: 60px;
  }

  @include desktop {
    padding-top: 0;
    padding-bottom: 71px;
  }
}

.comparison__title {
  margin-bottom: 40px;

  @include tablet {
    margin-bottom: 63px;
  }

  @include desktop {
    margin-bottom: 146px;
  }
}

.comparison__description {
  @include regular();
  margin-top: 0;
  margin-bottom: 19px;

  @include tablet {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 54px;
  }

  @include desktop {
    margin-bottom: 69px;
  }
}

.comparison__amount {
  @include heading(14px, 20px);
  grid-column: 1 / -1;
  column-gap: 3px;
  display: flex;
  text-transform: uppercase;
  align-self: center;
  justify-self: center;

  @include tablet {
    padding-top: 11px;
    padding-right: 2px;
    font-size: 20px;
    grid-column: 3 / -1;
    align-self: start;
    justify-self: end;
    flex-direction: column;
  }

  @include desktop {
    grid-column: 1 / -1;
    justify-content: space-between;
    justify-self: stretch;
    flex-direction: row;
  }
}

.comparison__amount-value {
  @include tablet {
    margin-top: 10px;
    align-self: flex-end;
  }

  @include desktop {
    margin: 0 38px 0;
  }
}

.comparison__container {
  display: grid;

  @include desktop {
    grid-template-columns: 1fr 1fr;
  }
}

.comparison__stats {
  display: flex;
  flex-direction: column;

  @include desktop {
    padding-right: 175px;
  }
}

.comparison__stats-inner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 34px;
  column-gap: 32px;
  margin-bottom: 40px;

  @include tablet {
    margin-bottom: 80px;
    column-gap: 42px;
    grid-template-columns: 162px 162px 1fr;
  }

  @include desktop {
    margin-bottom: 0;
    grid-template-columns: repeat(2, 162px);
    row-gap: 48px;
  }
}

.comparison__meta {
  padding: 14px 14px 17px 14px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 3px;
  border: 1px solid $border-color;

  @include tablet {
    padding-top: 15px;
    padding-bottom: 20px;
  }
}

.comparison__meta-label {
  @include heading(24px, 1);
  font-size: 24px;

  @include tablet {
    font-size: 30px;
    line-height: 37px;
  }
}

.comparison__meta-description {
  @include regular(12px, 1);
  position: absolute;
  transform: translateY(100%);
  margin-top: 1px;
  padding: 2px 16px;
  text-align: center;
  background-color: $bg-color;

  br {
    @include tablet {
      display: none;
    }
  }

  @include tablet {
    padding-left: 2px;
    padding-right: 2px;
    font-size: 14px;
    margin-top: 26px;
    background-color: $white;
  }

  @include desktop {
    background-color: $bg-color;
  }
}

.comparison__slider {
  display: inline-grid;
  grid-template-columns: 1fr 1fr;

  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: -9999px;
    right: -9999px;
    background-color: $bg-color;
  }

  @include tablet {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      z-index: -1;
      top: 173px;
      bottom: -60px;
      left: -9999px;
      right: -9999px;
      background-color: $bg-color;
    }
  }

  @include desktop {
    position: static;
    padding-left: 18px;

    &::before {
      top: 136px;
      bottom: 0;
    }
  }
}

.comparison__slider-before-pic,
.comparison__slider-after-pic {
  display: none;
  width: 100%;
  height: auto;
}

.comparison__slider--before {
  .comparison__slider-before-pic {
    display: block;
  }
}

.comparison__slider-controls {
  grid-column: 1 / -1;
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;

  @include tablet {
    padding: 0 66px;
    margin-top: 28px;
  }

  @include desktop {
    padding: 0 10px;
    margin-top: 25px;
  }
}

.comparison__slider-item {
  grid-column: 1 /-1;
  grid-row: 1 /-1;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  clip-path: inset(0 0 0 var(--slider-value, 50%));

  &:first-of-type {
    clip-path: inset(0 calc(100% - var(--slider-value, 50%)) 0 0);
  }

  @include desktop {
    margin-top: -44px;
    justify-content: flex-start;
    align-items: flex-start;
  }
}

.comparison__slider-range {
  appearance: none;
  width: 100%;
  background: transparent;

  &:hover {
    &::-webkit-slider-thumb {
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.19);
    }
  }

  &:focus {
    outline: none;

    &::-webkit-slider-thumb {
      box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    }
  }

  &:active {
    &::-webkit-slider-thumb {
      border-color: $primary;
    }
  }

  &::-webkit-slider-thumb {
    appearance: none;
    position: relative;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16);
    border: 1px solid $input-border;
    background-image: url("data:image/svg+xml,%3Csvg width='34' height='34' viewBox='0 0 34 34' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='17' cy='17' r='4' fill='%2368B738'/%3E%3C/svg%3E%0A");
    background-color: $white;
    background-repeat: no-repeat;
    background-size: cover;
    width: $slider-thumb-r;
    height: $slider-thumb-r;
    transform: translateY(-#{($slider-thumb-r - $slider-track-h) / 2});
  }

  &::-webkit-slider-runnable-track {
    width: 100%;
    height: $slider-track-h;
    border-radius: 100px;
    background-color: rgba(220, 220, 220, 1);
  }
}

.comparison__slider-before,
.comparison__slider-after {
  @include heading(16px, 30px);
  border-bottom: 1px dashed $border-color;

  @include tablet {
    font-size: 20px;
  }
}

.comparison__slider-before {
  padding-right: 15px;
}

.comparison__slider-after {
  padding-left: 15px;
}
