.contacts {
  &--dark {
    background-color: $bg-color;
  }
}

.contacts__caption {
  display: flex;
  padding: 26px 0;

  @include tablet {
    padding: 56px 50px;
    justify-content: space-between;
    align-items: stretch;
  }

  @include desktop {
    width: 50%;
    padding: 56px 80px;
  }
}

.contacts__title {
  @include heading(16px, 1.25, 400);
  margin: 0;
  flex: 0 0 50%;
  text-transform: uppercase;

  @include tablet {
    font-size: 20px;
    flex-basis: 20%;
  }
}

.contacts__address {
  @include regular();
  flex: 0 0 50%;

  @include tablet {
    flex-basis: 20%;
  }
}
