.contacts {
  &--dark {
    background-color: $bg-color;
  }
}

.contacts__container {
  position: relative;
  background-color: $white;

  @include desktop {
    background-color: transparent;
  }
}

.contacts__map {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("../img/map-2.png");
  height: 360px;
  background-color: $white;

  @include tablet {
    height: 400px;
  }
}

.contacts__caption {
  display: flex;
  padding: 26px 0;
  background-color: $white;

  @include tablet {
    padding: 56px 50px;
    justify-content: space-between;
    align-items: stretch;
  }

  @include desktop {
    position: absolute;
    top: 100px;
    width: 50%;

    padding: 56px 80px;
  }
}

.contacts__title {
  @include heading(16px, 1.25, 400);
  margin: 0;
  flex: 0 0 50%;
  text-transform: uppercase;

  @include tablet {
    font-size: 20px;
    flex-basis: 20%;
  }
}

.contacts__address {
  @include regular();
  flex: 0 0 50%;

  @include tablet {
    font-size: 16px;
    flex-basis: 35%;
  }
}
