.contacts__caption {
  display: flex;
  padding: 26px 0;
  background-color: $white;
}

.contacts__title {
  @include heading(16px, 1.25, 400);
  margin: 0;
  flex: 1 1 50%;
  text-transform: uppercase;
}

.contacts__address {
  @include regular();
  flex: 1 1 50%;
}
