.copyright {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &:focus {
    color: $primary;
    outline: none;
  }

  &:active {
    opacity: 0.3;
  }

  @include tablet {
    justify-content: flex-end;
  }
}

.copyright__text {
  @include regular(16px);
  margin-right: 15px;

  @include tablet {
    margin-right: 23px;
  }
}
