.custom-checkbox__inner {
  position: relative;
  display: flex;
  align-items: center;

  &:hover::before {
    border-color: $input-border-hover;
  }

  &::before {
    content: "";
    display: inline-block;
    width: 26px;
    height: 26px;
    border: 1px solid $input-border;
    margin-right: 15px;
  }
}

.custom-checkbox__label {
  @include heading(16px, $color: $body-color);
  text-transform: uppercase;
}

.custom-checkbox__input {
  display: none;

  &:checked ~ .custom-checkbox__inner::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 26px;
    height: 26px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 17.718L5.3 11.2695L4.25 12.4574L11 20.0938L22.25 7.36648L21.2 6.09375L11 17.718Z' fill='%2368B738'/%3E%3C/svg%3E%0A");
  }
}
