.features {
  padding-top: 0;

  @include desktop {
    padding-top: 82px;
  }
}

.features__item {
  display: grid;
  grid-template-columns: 1fr 6fr;
  grid-template-rows: auto auto auto;
  row-gap: 22px;
  padding: 20px 33px 18px 20px;
  background-color: $bg-color;

  @include tablet {
    padding: 77px 62px 56px 52px;
    row-gap: 26px;
    grid-template-columns: 2fr 1fr;
  }

  @include desktop {
    grid-template-columns: 161px 1fr;
    row-gap: 39px;
  }

  &:nth-of-type(1) {
    @include desktop {
      padding: 41px 51px 55px 52px;
    }
  }

  &:nth-of-type(2) {
    @include tablet {
      padding-right: 28px;
    }

    @include desktop {
      padding: 47px 61px 55px 52px;
    }
  }
}

.features__icon {
  @include tablet {
    grid-row: 1 / -1;
    grid-column: 2 / -1;
    justify-self: end;
  }

  @include desktop {
    justify-self: start;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
  }
}

.features__icon--slim {
  width: 50px;
  height: 53px;
  margin: 1px 19px 0 2px;

  @include tablet {
    margin: 0 0 0 54px;
    width: 200px;
    height: 211px;
  }

  @include desktop {
    margin: 0;
    width: 100px;
    height: 106px;
  }
}

.features__icon--gain {
  width: 67px;
  height: 50px;
  margin: 4px 11px 0px -7px;

  @include tablet {
    margin: 14px 0 0 16px;
    width: 268px;
    height: 200px;
  }

  @include desktop {
    transform: translateX(-19px);
    margin: 0;
    width: 134px;
    height: 100px;
  }
}

.features__title {
  @include heading(24px, 37px);
  align-self: center;
  margin: 0;
  text-transform: uppercase;

  @include tablet {
    line-height: 1;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    font-size: 36px;
  }

  @include desktop {
    grid-row: 1 / 2;
    grid-column: 2 / -1;
  }
}

.features__description {
  @include regular(14px, 18px);
  margin: 0;
  grid-column: 1 / 3;
  grid-row: 2 / 2;

  @include tablet {
    font-size: 16px;
    line-height: 24px;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  @include desktop {
    grid-column: 1 / -1;
  }
}

.features__list {
  @include reset-list();
  display: grid;
  row-gap: 20px;
  column-gap: 80px;

  @include tablet {
    row-gap: 30px;
  }

  @include desktop {
    grid-template-columns: repeat(2, 1fr);
  }
}

.features__link {
  @include heading(16px, 24px);
  display: flex;
  align-items: center;
  padding-top: 15px;
  grid-column: 1 / 3;
  border-top: 1px solid $border-color;
  text-transform: uppercase;
  transform: scale(1);

  &:hover {
    .features__icon-next {
      transform: scale(1.2);
    }
  }

  &:active {
    color: rgba($headings-color, 0.3);
    transform: scale(1);
  }

  @include tablet {
    padding-top: 25px;
    font-size: 20px;
    line-height: 30px;
    border-top: none;
    grid-column: 1 / 2;
  }

  @include desktop {
    margin-top: -16px;
    line-height: 38px;
    padding: 0;
    grid-column: 1 / -1;
  }
}

.features__icon-next {
  margin-left: 16px;
  width: 32px;
  height: 12px;

  &:hover {
    width: 32px;
  }

  @include tablet {
    margin-left: 25px;
  }

  @include desktop {
    margin-left: 28px;
  }
}
