.footer {
  background-color: $footer-bg;
}

.footer__container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.footer__social {
  padding-top: 20px;
  padding-bottom: 17px;
  border-bottom: 1px solid $border-color;
}

.footer__copyright {
  padding-top: 21px;
  padding-bottom: 22px;
}

.footer__logo {
  font-size: 0;
  padding-top: 39px;
  padding-bottom: 32px;
  text-align: center;
  border-bottom: 1px solid $border-color;

  &:hover {
    opacity: 0.8;
  }

  &:active,
  &:focus {
    opacity: 0.6;
    outline: none;
  }

  img {
    transform: translateY(2px);
  }

  @include tablet {
    text-align: left;
  }
}

.footer__logo,
.footer__social,
.footer__copyright {
  flex: 1 0 100%;

  @include tablet {
    padding-top: 58px;
    padding-bottom: 55px;
    flex: 0 0 percentage(1/3);
    border-bottom: none;
  }
}
