.form__row {
  display: grid;

  &--inline {
    @include desktop {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 80px;
    }
  }

  &--col {
    row-gap: 15px;
  }
}

.form__section {
  position: relative;
  padding-top: 30px;

  @include tablet {
    padding-top: 70px;
    /* padding-bottom: 70px; */
  }
}

.form__section--hr {
  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: -9999px;
    right: -9999px;
    border-top: 1px solid $border-color;
  }

  @include tablet {
    &::before {
      content: none;
    }
  }
}

.form__radio {
  display: grid;
  height: 100%;
  row-gap: 15px;

  @include tablet {
    padding: 25px;
    border: 1px solid $border-color;
  }
}

.form__bottom {
  display: grid;
  row-gap: 15px;
  column-gap: 80px;
  padding-top: 30px;

  @include tablet {
    padding-top: 50px;
    grid-template-columns: repeat(2, 1fr);
  }
}

.form__section-title {
  @include heading(24px);
  position: relative;
  margin-top: 0;
  margin-bottom: 30px;

  @include tablet {
    font-size: 36px;
    margin-bottom: 70px;
  }
}

.form__group {
  display: flex;
  align-items: center;

  &--required {
    .form__label::after {
      content: "*";
    }
  }

  &--reverse {
    .form__label {
      flex: 1 1 auto;
      margin-right: 0;
    }

    .form__control {
      flex: 0 0 auto;
      margin-right: 15px;
    }
  }
}

.form__label {
  @include heading(16px, $color: $body-color);
  flex: 0 0 auto;
  text-transform: uppercase;
  margin-right: 15px;
}

.form__input {
  width: 100%;
  padding: 14px 16px;
  border: 1px solid $input-border;

  &:focus {
    outline: none;
  }
}

.form__input-radio {
  display: grid;
  place-content: center;
  appearance: none;
  background-color: $white;
  margin: 0;
  font: inherit;
  width: 30px;
  height: 30px;
  border: 1px solid $input-border;
  border-radius: 50%;

  &::before {
    content: "";
    width: 14px;
    height: 14px;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em $primary;
  }

  &:checked {
    &::before {
      transform: scale(1);
    }
  }
}

.form__control {
  flex: 1 1 auto;

  input,
  textarea {
    &,
    &::placeholder {
      @include heading(16px, $color: $input-placeholder-color);
      text-transform: uppercase;
    }
  }

  &--with-icon {
    position: relative;

    .form__input {
      padding-right: 40px;
    }
  }

  &--phone {
    .form__icon {
      top: calc(50% - 22px / 2);
    }
  }
}

.form__icon {
  position: absolute;
  right: 15px;
  top: calc(50% - 14px / 2);
}

.form__description {
  @include regular($color: $headings-color);
  margin: 0;
  text-align: center;

  @include tablet {
    text-align: left;
    align-self: center;
  }
}

.form__checkbox-list {
  display: grid;
  row-gap: 15px;

  @include tablet {
    column-gap: 80px;
    grid-template-columns: repeat(2, 1fr);
  }

  @include desktop {
    grid-template-columns: repeat(4, 1fr);
  }
}
