.form__row {
  display: grid;
}

.form__row--inline {
  @include desktop {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 80px;
  }
}

.form__row--col {
  row-gap: 13px;

  @include tablet {
    row-gap: 21px;
  }
}

.form__section {
  position: relative;
  padding-top: 22px;
  padding-bottom: 20px;

  @include tablet {
    padding-top: 70px;
  }
}

.form__section--contacts {
  padding-top: 26px;
  padding-bottom: 0;

  .form__section-title {
    width: 72%;
    margin-bottom: 37px;

    @include tablet {
      margin-bottom: 76px;
      width: 100%;
    }
  }

  @include tablet {
    padding-top: 57px;
  }

  @include desktop {
    padding-top: 47px;
  }
}

.form__section--comment {
  padding-bottom: 15px;

  .form__section-title {
    margin-bottom: 38px;

    @include tablet {
      margin-bottom: 76px;
    }
  }

  @include tablet {
    padding-top: 63px;
  }

  @include desktop {
    padding-top: 67px;
  }
}

.form__section--lead {
  padding-top: 39px;
  padding-bottom: 23px;

  @include tablet {
    padding-top: 67px;
    padding-bottom: 0;
  }
}

.form__section--addition {
  padding-top: 0;
  padding-bottom: 31px;

  .form__section-title {
    margin-bottom: 34px;

    @include tablet {
      margin-bottom: 57px;
    }
  }
}

.form__section--hr {
  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: -9999px;
    right: -9999px;
    border-top: 1px solid $border-color;
  }

  @include tablet {
    &::before {
      content: none;
    }
  }
}

.form__radio {
  display: grid;
  height: 100%;
  row-gap: 12px;

  @include tablet {
    padding: 25px;
    border: 1px solid $border-color;
  }
}

.form__bottom {
  display: grid;
  row-gap: 20px;
  column-gap: 80px;
  padding-top: 35px;

  @include tablet {
    padding-top: 55px;
    column-gap: 70px;
    grid-template-columns: repeat(2, 1fr);
  }

  @include desktop {
    padding-top: 63px;
  }
}

.form__section-title {
  @include heading(24px, 26px);
  position: relative;
  margin-top: 0;
  margin-bottom: 30px;

  span {
    @include tablet {
      margin-left: -40px;
      padding-left: 40px;
    }
  }

  @include tablet {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 70px;
  }
}

.form__group {
  display: flex;
  align-items: center;
}

.form__group--required {
  .form__label::after {
    content: "*";
  }
}

.form__group--reverse {
  .form__label {
    flex: 1 1 auto;
    margin-right: 0;
  }

  .form__control {
    flex: 0 0 auto;
    margin-right: 15px;

    @include tablet {
      margin-right: 20px;
    }
  }
}

.form__label {
  @include heading(16px, 18px, $color: $body-color);
  flex: 0 0 auto;
  text-transform: uppercase;
  margin-right: 14px;

  @include tablet {
    font-size: 20px;
    line-height: 30px;
    margin-right: 18px;
  }
}

.form__input {
  width: 100%;
  padding: 13px 14px 15px 14px;
  box-shadow: 0 0 0 1px $input-border;
  border: none;

  &:invalid {
    box-shadow: 0 0 0 2px $input-border-invalid;

    & + .form__icon {
      color: $input-border-invalid;
    }
  }

  &:hover {
    box-shadow: 0 0 0 1px $input-border-hover;
  }

  &:focus {
    box-shadow: 0 0 0 2px $input-border-focus;
    outline: none;

    & + .form__icon {
      color: $primary;
    }
  }
}

.form__input-radio {
  display: grid;
  place-content: center;
  appearance: none;
  background-color: $white;
  margin: 0;
  font: inherit;
  width: 30px;
  height: 30px;
  border: 1px solid $input-border;
  border-radius: 50%;

  &::before {
    content: "";
    width: 14px;
    height: 14px;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em $primary;

    @include tablet {
      width: 18px;
      height: 18px;
    }
  }

  &:hover {
    border-color: $input-border-hover;
  }

  &:disabled {
    opacity: 0.2;
  }

  &:checked {
    &::before {
      transform: scale(1);
    }
  }

  @include tablet {
    width: 40px;
    height: 40px;
  }
}

.form__control {
  flex: 1 1 auto;

  input,
  textarea {
    &,
    &::placeholder {
      @include heading(16px, 18px, $color: $input-placeholder-color);
      text-transform: uppercase;

      @include tablet {
        padding: 10px 18px 11px 18px;
        font-size: 20px;
        line-height: 30px;
      }
    }
  }

  textarea {
    @include tablet {
      padding: 0 0 11px;
    }
  }
}

.form__control--phone {
  .form__icon {
    top: calc(50% - 22px / 2);
  }
}

.form__control--with-icon {
  position: relative;

  .form__input {
    padding-right: 40px;
  }
}

.form__icon {
  position: absolute;
  right: 15px;
  top: calc(50% - 14px / 2);
}

.form__submit {
  @include tablet {
    padding: 13px 45px;
    font-size: 20px;
    line-height: 26px;
  }
}

.form__description {
  @include regular($color: $headings-color);
  margin: 0;
  text-align: center;

  @include tablet {
    font-size: 16px;
    line-height: 16px;
    text-align: left;
    align-self: center;
  }
}

.form__checkbox-list {
  display: grid;
  row-gap: 12px;

  @include tablet {
    column-gap: 53px;
    row-gap: 30px;
    grid-template-columns: repeat(2, 1fr);
  }

  @include desktop {
    column-gap: 80px;
    grid-template-columns: repeat(4, 1fr);
  }
}
