.header {
  position: relative;
  padding: 10px 0;
  border-bottom: 1px solid $border-color;

  @include tablet {
    padding: 25px 0;
    border-bottom: none;
  }

  @include desktop {
    padding: 50px 0;
  }
}

.header--menu-opened {
  .nav__list {
    display: flex;
  }
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include tablet {
    justify-content: flex-start;
  }
}

.header__logo {
  font-size: 0;

  &:hover,
  &:focus {
    outline: none;
  }
}
