.header {
  position: relative;
  padding-top: 10px;
  padding-bottom: 17px;
  border-bottom: 1px solid $border-color;

  @include tablet {
    padding-top: 24px;
    border-bottom: none;
  }

  @include desktop {
    padding-top: 53px;
    padding-bottom: 29px;
  }
}

.header--menu-opened {
  .nav__list {
    display: flex;
  }
}

.header--menu-static {
  .nav__list {
    position: static;
  }

  .nav {
    margin-top: 20px;
    flex: 0 0 100%;

    @include tablet {
      margin-top: none;
      flex-basis: auto;
    }
  }

  .header__container {
    flex-wrap: wrap;

    @include tablet {
      flex-wrap: nowrap;
    }
  }
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include tablet {
    justify-content: flex-start;
  }
}

.header__logo {
  font-size: 0;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
    outline: none;
  }
}
