.hero {
  position: relative;
  padding-top: 30px;
  padding-bottom: 20px;

  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    height: 60%;
    background: linear-gradient(0deg, rgba($primary, 0.86), rgba($primary, 0.86)), url("/img/hero-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

.hero__button {
  align-self: stretch;
}

.hero__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero__title,
.hero__subtitle {
  color: $white;
}

.hero__title {
  text-align: center;
  margin-bottom: 25px;
}

.hero__subtitle {
  @extend %heading;
  text-transform: uppercase;
  margin-bottom: 30px;
}
