.hero {
  $overlay-offset: 160px;
  position: relative;
  padding-top: 27px;
  padding-bottom: 20px;

  &::before {
    @include reset-background();
    @include background($primary, "../img/index-background-mobile@1x.jpg");
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    height: 302px;

    @media (min-resolution: 2dppx) {
      @include background($primary, "../img/index-background-mobile@2x.jpg");
    }

    @include tablet {
      content: none;
    }

    @include desktop {
      @include background($primary, "../img/index-background-desktop@1x.jpg");
      content: "";
      top: -$overlay-offset;
      left: 50%;
      height: calc(100% + $overlay-offset);
      bottom: 0;

      @media (min-resolution: 2dppx) {
        @include background($primary, "../img/index-background-desktop@2x.jpg");
      }
    }
  }

  @include tablet {
    padding-top: 47px;
    padding-bottom: 0;
  }

  @include desktop {
    padding-top: 0;
    padding-bottom: 54px;
  }
}

.hero__button {
  font-size: 14px;
  line-height: 26px;
  padding-top: 7px;
  padding-bottom: 7px;
  @include tablet {
    width: auto;
    justify-self: start;
    align-self: start;
    grid-row-start: 2;

    padding: 14px 26px;
    font-size: 20px;
    margin-left: 90px;
  }

  @include desktop {
    margin-left: 82px;
  }
}

.hero__container {
  display: grid;

  @include tablet {
    /* padding: 0 117px; */
  }

  @include desktop {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
  }
}

.hero__text-wrap {
  text-align: center;

  @include tablet {
    padding: 0 87px;
    text-align: left;
  }

  @include desktop {
    padding-top: 82px;
    padding-left: 80px;
  }
}

.hero__title {
  @include heading(36px, 1);
  transform: translateX(1px);
  margin-top: 0;
  margin-bottom: 25px;
  color: $white;

  br {
    display: none;

    @include tablet {
      display: block;
    }
  }

  @include tablet {
    color: $headings-color;
    font-size: 60px;
    margin-bottom: 41px;
  }
}

.hero__subtitle {
  @include heading(14px, 1);
  transform: translateX(-1px);
  margin-top: 0;
  margin-bottom: 29px;
  color: $white;
  text-transform: uppercase;

  @include tablet {
    transform: translateX(2px);
    font-size: 20px;
    margin-bottom: 49px;
    color: $headings-color;
  }

  @include desktop {
    margin-bottom: 52px;
  }
}

.hero__image {
  font-size: 0;
  justify-self: center;
  margin-bottom: 3px;

  @include tablet {
    margin-bottom: 0;
    transform: translateX(-1px);
    position: relative;
    z-index: -1;
    margin-top: -83px;
    grid-row-start: 3;
  }

  @include desktop {
    margin-top: 0;
    grid-row: 1 / -1;
    grid-column-start: 2;
    transform: translateX(-191px);
  }
}
