.hero {
  $overlay-offset: 160px;
  position: relative;
  padding-top: 30px;
  padding-bottom: 20px;

  &::before {
    @include background($primary, "../img/hero-bg.jpg");
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    height: 60%;

    @include tablet {
      content: none;
    }

    @include desktop {
      content: "";
      top: -$overlay-offset;
      left: 50%;
      height: calc(100% + $overlay-offset);
      bottom: 0;
    }
  }

  @include desktop {
    padding: 0;
  }
}

.hero__button {
  @include tablet {
    width: auto;
    justify-self: start;
    align-self: start;
    grid-row-start: 2;
  }
}

.hero__container {
  display: grid;

  @include tablet {
    padding: 0 90px;
  }

  @include desktop {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
  }
}

.hero__text-wrap {
  text-align: center;

  @include tablet {
    text-align: left;
  }

  @include desktop {
    padding-top: 80px;
  }
}

.hero__title {
  @include heading(32px);
  margin-top: 0;
  margin-bottom: 25px;
  color: $white;

  @include tablet {
    color: $headings-color;
    font-size: 60px;
    margin-bottom: 40px;
  }
}

.hero__subtitle {
  @include heading(14px);
  margin-top: 0;
  margin-bottom: 30px;
  color: $white;
  text-transform: uppercase;

  @include tablet {
    margin-bottom: 50px;
    color: $headings-color;
  }
}

.hero__image {
  max-width: 270px;
  width: 100%;
  height: auto;
  justify-self: center;

  @include tablet {
    max-width: 709px;
    position: relative;
    z-index: -1;
    margin-top: -50px;
    grid-row-start: 3;
  }

  @include desktop {
    max-width: 552px;
    margin-top: 0;
    grid-row: 1 / -1;
    grid-column-start: 2;
    transform: translateX(-120px);
  }
}
