.nav {
  @include tablet {
    margin-left: auto;
  }
}

.nav__toggle {
  padding: 0;
  border: none;
  background-color: transparent;

  &:hover,
  &:focus,
  &:active {
    outline: none;
  }

  @include tablet {
    display: none;
  }
}

.nav__list {
  display: none;
  position: absolute;
  z-index: 2;
  top: 58px;
  right: 0;
  left: 0;

  @include tablet {
    position: static;
    display: flex;
  }
}
