.page,
.page__body {
  overflow-x: hidden;
}

.page--home {
  .site-list__item a {
    @include desktop {
      color: $white;
    }

    &:hover {
      color: rgba($white, 0.6);
      border-color: rgba($white, 0.6);
    }

    &:focus,
    &:active {
      color: rgba($white, 0.3);
      border-color: rgba($white, 0.3);
    }
  }

  .site-list__item--active a {
    @include desktop {
      border-bottom-color: $white;
    }
  }
}
