.promo {
  @include reset-background();
  @include background($primary, "../img/promo-mobile@1x.jpg");
  padding: 58px 61px 42px 58px;
  display: grid;
  justify-items: center;
  row-gap: 50px;

  @media (min-resolution: 2dppx) {
    @include background($primary, "../img/promo-mobile@2x.jpg");
  }

  @include tablet {
    @include background($primary, "../img/promo-tablet@1x.jpg");
    justify-items: stretch;
    padding: 57px 124px 63px 77px;
    grid-template-columns: repeat(2, 1fr);

    @media (min-resolution: 2dppx) {
      @include background($primary, "../img/promo-tablet@2x.jpg");
    }
  }

  @include desktop {
    @include background($primary, "../img/promo-mobile@1x.jpg");
    grid-template-columns: 1fr;
    row-gap: 40px;
    padding: 55px 43px 42px 40px;
    justify-items: center;

    @media (min-resolution: 2dppx) {
      @include background($primary, "../img/promo-mobile@2x.jpg");
    }
  }
}

.promo__title {
  @include regular(16px, 20px, $color: $white);
  text-align: center;

  br {
    display: none;

    @include desktop {
      display: block;
    }
  }

  @include tablet {
    margin: 8px 0 0 92px;
    text-align: left;
    align-self: center;
  }

  @include desktop {
    margin: 0;
    text-align: center;
  }
}
