.program {
  padding-top: 27px;

  @include tablet {
    padding-top: 48px;
    padding-bottom: 42px;
  }

  @include desktop {
    padding-top: 46px;
    padding-bottom: 50px;
  }
}

.program__title {
  line-height: 1;
  margin-bottom: 37px;

  @include tablet {
    margin-bottom: 54px;
  }
}

.program__container {
  @include tablet {
    padding-left: 71px;
    padding-right: 65px;
  }

  @include desktop {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.program__subtitle {
  @include heading(14px, 18px);
  width: 80%;
  margin: 0;
  text-transform: uppercase;

  br {
    display: none;
  }

  @include tablet {
    font-size: 20px;
    line-height: 30px;

    br {
      display: block;
    }
  }
}
