.promo {
  @include background($primary, "../img/promo.jpg");
  padding: 60px;
  display: grid;
  justify-items: center;
  row-gap: 50px;

  @include tablet {
    padding: 60px 100px;
    grid-template-columns: repeat(2, 1fr);
  }

  @include desktop {
    grid-template-columns: 1fr;
    row-gap: 40px;
    padding: 40px;
  }
}

.promo__title {
  @include regular(16px, $color: $white);
  text-align: center;

  @include tablet {
    align-self: center;
  }
}
