.section-title {
  @include heading(36px, 40px);
  margin-top: 0;
}

.section-title--normal {
  @include tablet {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 30px;
  }
}

.section-title--crossed {
  @include heading(24px);
  position: relative;
  margin-top: 0;
  margin-bottom: 35px;

  span {
    display: inline-block;
    margin-left: -20px;
    padding: 0 20px;
    background-color: $white;

    @include tablet {
      margin-left: 0;
      padding-left: 37px;
      padding-right: 37px;
    }

    @include desktop {
      margin-left: -40px;
      padding-left: 40px;
    }
  }

  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 14px;
    left: -9999px;
    right: -9999px;
    border-top: 2px solid $primary;

    @include tablet {
      top: 23px;
    }
  }

  @include tablet {
    font-size: 36px;
  }
}
