.site-list {
  @include reset-list();
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  border-top: 1px solid $border-color;
  background-color: $white;

  @include tablet {
    flex-direction: row;
    border-top: none;
    background-color: transparent;
  }
}

.site-list__item {
  a {
    @include heading(18px, 1);
    padding: 22px 20px 24px 20px;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid $border-color;

    &:hover {
      color: rgba($headings-color, 0.6);
      border-color: rgba($primary, 0.6);
    }

    &:focus,
    a:active {
      color: rgba($headings-color, 0.3);
      border-color: rgba($primary, 0.3);
      outline: none;
    }

    @include tablet {
      padding: 21px 0 11px;
      border-bottom: none;
    }

    @include desktop {
      font-size: 20px;
      padding: 12px 0 5px;
      line-height: 30px;
    }
  }

  &:nth-of-type(1) a {
    @include tablet {
      margin-right: 35px;
    }

    @include desktop {
      margin-right: 36px;
    }
  }

  &:nth-of-type(2) a {
    @include tablet {
      margin-right: 38px;
    }

    @include desktop {
      margin-right: 35px;
    }
  }

  &--active a {
    @include tablet {
      border-bottom: 2px solid $primary;
    }
  }
}
