.site-list {
  @include reset-list();
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  border-top: 1px solid $border-color;
  background-color: $white;

  @include tablet {
    flex-direction: row;
    border-top: none;
    background-color: transparent;
  }
}

.site-list__item {
  a {
    @include heading($fz: 20px);
    font-size: 18px;
    padding: 20px;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid $border-color;

    &:focus {
      outline: none;
    }

    @include tablet {
      border-bottom: none;
    }
  }

  &--active a {
    @include tablet {
      border-bottom: 2px solid $primary;
    }
  }
}
