.social {
  @include reset-list();
  display: flex;
  justify-content: center;
}

.social__item {
  a {
    &:hover {
      color: $primary;
    }

    &:active,
    &:focus {
      color: $primary;
      opacity: 0.2;
      outline: none;
    }
  }

  &:not(:last-of-type) a {
    margin-right: 24px;
  }
}
