$white: #ffffff;
$gray: #f2f2f2;
$light-gray: #e6e6e6;
$dark-gray: #444444;
$soft-gray: #898787;
$special-gray: #cdcdcd;
$black: #000000;
$green: #68b738;

$primary: $green;
$secondary: $gray;

$body-color: $dark-gray;
$border-color: $light-gray;
$bg-color: $gray;

$link-color: $body-color;

$font-family-base: arial, sans-serif;
$font-family-headings: oswald, sans-serif;
$font-family-buttons: $font-family-headings;
$font-size-base: 14px;

$line-height-base: 1.3;

$headings-color: $black;
$headings-font-weight: 500;
$headings-line-height: 1;

$input-border: $special-gray;
$input-placeholder-color: $dark-gray;
