$white: #fff;
$gray: #f2f2f2;
$light-gray: #e6e6e6;
$dark-gray: #444444;
$black: #000;
$green: #68b738;

$primary: $green;
$secondary: $gray;

$body-color: $dark-gray;
$border-color: $light-gray;
$bg-color: $gray;

$link-color: $body-color;

$font-family-base: Arial, sans-serif;
$font-family-headings: Oswald, sans-serif;
$font-family-buttons: $font-family-headings;
$font-size-base: 14px;

$line-height-base: 1.3;

$headings-color: $black;
$headings-font-weight: 500;
$headings-line-height: 1;
